<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" content="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <h1>Wysłaono plik</h1>
        
        <section class="gallery">
            
    	<h1>Galeria obrazków</h1>
    		<div id="photos">
                
    		</div>
    	</section>
        
        <a class = "button_back" href="http://localhost:9000/start">Dodaj następny plik</a>
    </body>
</html>